<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputTitle">Title</label>
    <div class="controls">
      <input type="text"
             id="inputTitle"
             name="title"
             class="input-block-level"
             autofocus
             ng-model="movie.title">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDescription">Description</label>
    <div class="controls">
        <div text-angular ng-model="movie.description"></div>
    </div>
  </div>
    <div class="control-group">
        <label class="control-label" for="inputDescription">Release year</label>
        <div class="controls">
        <input type="number"
               id="inputReleaseYear"
               name="releaseYear"
               class="input-block-level"
               autofocus
               ng-model="movie.releaseYear">
      </input>
        </div>
    </div>
  <div class="form-actions">
    <button type="submit"
            class="btn btn-primary"
            ng-click="save(movie)">
      Save
    </button>
    <a href="/movies/{{movie.id}}" class="btn">Cancel</a>
  </div>
</form>
